{% extends 'nav.html' %}
{% block title %}Blogs{% endblock title %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rose</h5>
          <p class="card-text">Roses have got to be on top for obvious reasons. They have such an international appeal to them. So, no doubt that roses are amongst the most popular flowers. They are available in different colors. A red rose flower is most commonly used to denote love and romance.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tulip</h5>
          <p class="card-text">Tulips are large and distinctive flowers that are initially cultivated by the Turks. The Tulip flower is considered the symbol of the Ottoman Empire by Europeans. Tulip might not be commonly mentioned amongst the popular types of flowers but it doesn't change a thing about how beautiful and delightful they are.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sunflower</h5>
          <p class="card-text">Sunflower is one of the popular flowers names,as it is easy to grow and is also used for human consumption on a considerable level. It symbolizes loyalty as it always keeps its face towards the Sun. If someone asks you "what is the most popular flower", we are more than sure you wouldn't waste a minute before saying sunflower or roses, depending on your mood.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 my-3">
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Daffodil</h5>
          <p class="card-text">A representative of regard and respect, Daffodils are native to Asia, North America, and Europe. And there are about more than a hundred species of Daffodils.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marigold</h5>
          <p class="card-text">Marigold is one of the flower types, famous for its thick and lush foliage, and its beauty and name led it amongst our list of most popular flowers. Marigold also has spiritual significance!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-dark">
        <img src="/static/6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Daisy</h5>
          <p class="card-text">Daisy is easily found around the planet, and people also call it the cousin of the sunflower. Their beauty makes them a favorite pick as a home garden flower. Daisies make for the most popular garden flowers because they are so pleasant to look at.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}  